.create-post-modal {
  padding: 15px 20px;

  form {
    padding: 1em;
  }

  .ant-modal-header {
    text-align: center;
  }

  .ant-modal-body {
    display: block;
    width: 100%
  }

  .details-column {
    width: 100%
  }

  .custom-label-input {
    width: 100% !important;
  }

  .image-preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;

    .image-preview-item {
      margin-right: 8px;
      margin-bottom: 8px;

      img {
        max-width: 30vw;
        max-height: auto;
      }
    }
  }

  button {
    width: auto !important;
  }

  textarea,
  select {
    width: 100%;
    border-radius: 2px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 0.7em;
  }
}