div {
  position: relative;

  p {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .post-like-menu-comments {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;

    span {
      position: relative; /* Adjusted to allow positioning of the like count */
      font-size: 20px !important;
      line-height: 1;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
      margin-right: 4px;

      &.liked {
        color: red;
        animation: fillRed 0.5s forwards;
      }
    }

    .like-count {
      position: absolute;
      font-size: 14px !important;
      color: darkgrey;
      align-items: center !important;
      left: -10%;
      transform: translateX(-40%);
    }
  }

  @keyframes fillRed {
    to {
      color: red;
    }
  }
}
