section.user-data-main {

    article.profile-metrics {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        padding: 0.5em 2em;

        div.img-container {
            width: 5.5em;
            height: 5.5em;
            border-radius: 10px;
        }

        ul {
            display: flex;
            flex-flow: row nowrap;
            gap: 1.5em;

            li {
                text-align: center;

                p {
                    font-size: 0.9em;
                }
            }
        }
    }

    article.profile-buttons {
        display: flex;
        justify-content: center;
        gap: 0.4em;
        padding: 1em 2em;

        button {
            padding: 2px 5px;
            width: 100%;
        }

        .button-1 {
            background-color: rgb(63, 143, 255);
            color: white;
        }

        .button-3 {
            width: 15%;
        }
    }

    article.user-posts-nav {
        display: flex;
        flex-flow: row wrap;
        padding: 0.75vw;
        gap: 0.5vw;
        span {
            width: 32.5vw;
            text-align: center;
            font-size: xx-large;
            padding: 0.3em 0em;
        }
        span.active {
            color: #4b4b4b;
            border-bottom: 2px solid #4b4b4b;
        }
        span.inactive {
            border-bottom: 2px solid #dddddd;
            color: #dddddd;
        }
    }
}