main.main-grid {
    display: flex;
    flex-flow: row wrap;
    // justify-content: space-between;
    padding: 0.75vw;
    gap: 0.5vw;
    div {
        width: 32.5vw;
        height: 32.5vw;
    }
}