.paella-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.paella-img-container {
  margin: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #2c213c9c;
  }
}

.paella-paragraph {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
