* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" -25, "opsz" 24;
}
.material-symbols-filled {
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" -25, "opsz" 24;
  color: red;
}

#root {
  width: 100vw;
}
